# Environment
.env
github/
node_modules/
*.xlsx
# Python
__pycache__/
*.py[cod]
.Python
venv/
ENV/
.gitignore
# Output
output/
logs/
*.csv
*.json
#*.html
*nul
# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Power BI
*.pbix
